/*----------- MASTER --------------*/
* {
  padding: 0px;
  margin: 0px;
    box-sizing: border-box
}
body {
  font-family: 'IBM Plex Serif', serif;
  font-size: 16px;
  color: #000000;
background-color: black;
/*    border-top: 0px;*/
}
.full-container {
    margin: 15px;
    background-color: white;
}
.container {
    width: 100%;
    max-width: 1600px;
    padding: 0 50px 0 50px;
    margin: auto;
}
p {
  padding-bottom: 15px;
}
a {
  color: #000000;
  text-decoration: none;
}
a:hover {
  border-bottom: 1px black solid;
}
a:img {
  border-bottom: 0px;
}
ul {
  list-style: none inside;
}
.clearfix::after {
  content: '';
  clear: both;
  display: table;
}
.clear {
  clear: both;
  display: block;
}

/*----------- HEADER --------------*/
header {
  padding: 20px 0 20px 0;
    top: 0;
  width: 100%;
  border-top: none;
  font-family: 'IBM Plex Mono', monospace;
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: 2px;
  box-sizing: border-box;
    background-color: black;
    color: white;
    position: fixed;
    z-index: 1000;
}
header .container {
    display: flex;
}
header h1 {
  font-weight: normal;
  width: 50%;
  font-size: 16px;
  padding-right: 100px;
  box-sizing: border-box;
    }
header h1 a{
    color: white;
}
nav {
  width: 50%;
  font-size: 10px;
  font-size: 16px;
    text-align: right;
}
nav li {
  list-style: none;
    float: right;
    padding-left: 20px;
}
nav li a {
    color: white;
}

/*----------- HOMEPAGE --------------*/

.cover {
    height: 80vH;
    width: 100%;
    margin: auto;
    max-width: 1600px;
    overflow: hidden;
}
.intro {
    text-align: center;
    padding-top: 30vH;
/*    margin: auto;*/
    width: 100%;
    z-index: 1;
    position: fixed;
    box-sizing: border-box;
}
.intro h1 {
    font-size: 100px;
    line-height: 99px;
    font-weight: 200;
}
.image-stack {
    width: 100%;
    max-width: 1600px;
    height: 90vh;
    margin: auto;
    position: relative;
}
.image-stack img {
    position: absolute;
    filter: grayscale(100%);
}
#one {
    left:0%;
    top: 0%;
    width: 10%;
}
#two {
    left:20%;
    top: 25%;
        width: 14%;
}
#three {
    left:5%;
    top: 60%;
            width: 20%;
}
#four {
    left:50%;
    top: 10%;
    width: 10%;
}
#five {
left: 45%;
    top: 30%;
            width: 25%;
}
#six {
    left:80%;
    top: 20%;
    width: 10%;
}
#seven {
    left:90%;
    top: 65%;
    width: 30%;
}


/*----------- INDEX --------------*/
.index {
    width: 100%;
    border-top: 1px solid black;
    background: white;
}
.student {
    max-width: 1600px;
    width: 100%;
     margin: auto;
    display: flex;
    align-content: flex-start;
      padding: 5px 50px 5px 50px;
    color: black;
}
.student:hover {
    color: grey;
}
.student .project {
    width: 75%;
    padding-right: 10px;
    line-height: 55px;
    font-size: 60px;
    font-family: 'Poppins', Helvetica, sans-serif;
    text-transform: uppercase;
}
.student .name {
    width: 20%;
    font-size: 18px;
}
.preview .object:hover {
    background-color: lightgray;
}
.hidden {
    display: none!important;
    visibility: hidden!important;
}
.blog-tags-list {
    padding-bottom: 10px;
  padding: 25px 50px 25px 50px;
    width: 100%;
    max-width: 1600px;
    text-align: center;
    margin: auto;
    }
.blog-tags-list a:hover {
    color: lightgrey;
    }
.blog-tags-item {
    float: left;
    padding: 10px 15px 10px 15px;
    border: 2px black solid;
    margin-left: 10px;
    margin-right: 10px;
    font-family: 'Poppins', Helvetica, sans-serif;
    text-transform: uppercase;
    font-size: 16px;
    }
.blog-tags-item:first-child {
    margin-left: 0px;
    }
.blog-tags-item:hover {
    border-color: black;
    background-color: black;
    color: white;
    }


/*----------- STUDENT PAGES --------------*/
.object {
  padding: 100px 50px 25px 50px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  max-width: 1600px;
  margin: auto;
}
.project {
  width: 45%;
  margin-right: 0px;
  box-sizing: border-box;
  font-size: 24px;
  font-family: 'Poppins', Helvetica, sans-serif;
  text-transform: uppercase;
}
.name {
  width: 45%;
      padding-right: 50px;
    font-weight: 400;
    font-size: 24px;
}
.images {
      width: 100%;
      padding: 25px 50px 25px 50px;
        max-width: 1600px;
        margin: auto;
}
.images .description {
        width: 100%;
    padding-bottom: 50px;
    font-size: 42px;
}
.images img {
    width: 100%;
    padding-bottom: 0px;
}
.images .caption {
    width: 50%;
    color: rgba(0,0,0,.5);
  font-family: 'IBM Plex Serif', serif;
    font-weight: 300;
    font-size: 14px;
    padding: 0 0 50px 0;
}
.images .left {
    width: 50%;
    padding-right: 25px;
    float: left;
}
.images .right {
    width: 50%;
    padding-left: 25px;
    float: right;
}
/*----------- INTRODUCTION --------------*/
.intro-text {
    width: 50%;
    font-size: 24px;
    padding: 150px 0 50px 0;
    margin: auto;
}

/*----------- RESPONSIVE VIDEO --------------*/
.responsive-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
}
.responsive-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
/*----------- FOOTER --------------*/
footer {
    background-color: black;
    color: white;
    font-family: 'IBM Plex Mono', monospace;
    font-size: 14px;
    text-transform: uppercase;
  padding: 15px 0 5px 0;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  width: auto;
}
/*
.left {
  width: 60%;
  box-sizing: border-box;
}
.right {
  width: 40%;
}
*/

/*-----------------------------------
TABLET
----------------------------------- */
@media screen and (min-width: 716px) and (max-width: 1024px) {
    .container {
        padding: 0px;
    }
 header {
  padding: 20px 20px 20px 20px;
  }
/*INDEX */
.student {
    width: 100%;
    display: block;
      padding: 5px 50px 30px 50px;
}
.student .project {
    width: 100%;
}
.student .name {
    width: 100%;
    font-size: 36px;
    }
}

/* MOBILE
----------------------------------- */
@media only screen and (max-width: 715px) {
.full-container {
    margin: 0px;
}
    .container {
        padding: 0px 0px 0px 0px;
    }
header {
    padding-left: 20px;
    padding-top: 25px;
    flex-direction: column;
  }
nav {
    float: none;
    padding-top: 20px;
    width: 100%;
  }
nav li:first-child {
    padding-left: 0px;
    margin-left: 0px;
  }
    /*HOMEPAGEX */
    .cover {
        height: 50vh;
    }
    .intro {
    padding-top: 25vH;
    width: 100%;
    position: relative;
}
.intro h1 {
    font-size: 70px;
    line-height: 70px;
}
    .image-stack {
        display: none;
    }

    /*INDEX */
.student {
    width: 100%;
    display: block;
      padding: 15px 20px 15px 20px;
}
.student .project {
    width: 100%;
}
.student .name {
    width: 100%;
    font-size: 36px;
    line-height: 38px;
}
.blog-tags-list {
    padding: 15px 25px 25px 25px;
    }
/*STUDENT PAGES */
.object {
  padding: 150px 20px 20px 20px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  max-width: 1600px;
  margin: auto;
  font-weight: 200;
  font-size: 20px;
  font-size: 16px;
}
.images {
      padding: 20px 20px 20px 20px;
}
.images .description {
    padding-bottom: 25px;
    font-size: 24px;
}
.images .caption {
    width: 100%;
    font-size: 14px;
}
/*INTRODUCTION */
    .intro-text {
    width: 100%;
    padding: 200px 20px 50px 20px;
}
    /*FOOTER */
    footer {
  padding: 15px 20px 15px 20px;

}
