<!DOCTYPE html>
<html>
    <head>
    <title>{{ page.title }} | Pratt Institute School of Design</title>
        <meta name="viewport" content="width=device-width">
        <meta charset="UTF-8">
                      <link rel="stylesheet" type="text/css" href="../styles.css" />
<link href="https://fonts.googleapis.com/css?family=IBM+Plex+Serif:200,200i,300,300i,400,400i,600,600i" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=IBM+Plex+Mono" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Poppins:800" rel="stylesheet">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="icon" type="image/png" href="{{ site.github.url }}/images/favicon.jpg">


    </head>
    <body id="top">

         <header>
            <div class="container">
            <h1><a href="../index.html">Pratt Institute School of Design</a></h1>
            <nav><ul>
                <li><a href="http://www.pratt.edu">Pratt.edu</a></li>
                <li><a href="{{ site.github.url }}/intro.html">Introduction</a></li>
                <li><a href="{{ site.github.url }}/about.html">About</a></li>
             </ul></nav>
        </div>
        </header>

        <div class="full-container">



<div id="container">
      {{ content }}
    </div>

{% include footer.html %}
            </div>
    </body>



</html>
